<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
</head>

<section class="footer" id="footer">
    <footer class="footer">
        <div class="footer-container">
    
            <div class="footer-box">
                <h3 class = "contacts">Contacts us</h3>
                <p>
                    Kingshighway St,Cape Girardeau,<br>
                    Collett Dr, St.Louis, MO.<br>
                    63701-3503
                </p>
                <p>
                    info@panasonicspeed.com	
                </p>
            </div>
            <div class="footer-box">
                <div class="footer-bottom">
                    <h3>Quick Links</h3>
                        <ul class="supports">
                            <li><a href="{{url_for('why')}}">Why us</a></li>
                            <li><a href="{{url_for('service')}}">Our services</a></li>
                            <li><a href="{{url_for('about')}}">about us</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                </div>
            </div>
    
    
    
            <div class="copyright">
                &copy; Panasonic Speed Logistic Company. All Rights Reserved.
            </div>
    
        </div>
    
        
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</section>