{% include 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}



{% block content %}
<!--<h3 class="text-center" style="margin: 3%;">Register</h3>-->
{% from "includes/_formhelpers.html" import render_field %}

<div class="d-flex justify-content-around" style="margin-top: 3%;">

  <form method="POST" class="col-4 p-4 bg-dark text-light">
    <h2 class="text-primary" style="text-align:center">Register</h2>

    {{ form.hidden_tag() }}
     <fieldset class="form-group">
        <div class="form-group">
          {{render_field(form.firstname, class_="form-control")}}
        </div>

        <div class="form-group">
          {{render_field(form.lastname, class_="form-control")}}
        </div>

        <div class="form-group">
          {{render_field(form.email, class_="form-control")}}
        </div>

        <div class="form-group">
          {{render_field(form.password, class_="form-control")}}
        </div>

        <div class="form-group">
          {{render_field(form.confirm_password, class_="form-control")}}
        </div>

        <div class="form-group">
          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
          <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
        </div>

        <p><input type="submit" name="register" class="btn btn-primary" value="Submit"></p>

      </fieldset>

  </form>
 
</div>

<div class="border-top pt-3" style="margin: 3% 35%">
  <small class="text-muted" style="font-size: 18px">
    Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}" style="color: blue, list-style: none">Sign In</a>
  </small>
</div>


{% endblock content %}
